.homeBackgroundContainer {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  :global(#tsparticles) {
    height: 100%;
    min-height: 100%;
    opacity: 1;

    > canvas {
      min-height: 100%;
      height: 100%;
    }
  }
}