.projectContainer {
  width: 100dvw;
  display: flex;
  gap: 1.75rem;
  position: relative;
  max-width: 100dvw;
  flex-direction: column;
  padding: 4.25rem 0;

  &::after,
  &::before {
    content: '';
    width: 15.25rem;
    overflow: hidden;
    height: 15.25rem;
    z-index: 1;
    filter: blur(180px);
    position: absolute;
    background-color: var(--primary-main);
  }

  &::before {
    inset: 33rem auto auto -2.5rem;
  }

  &::after {
    inset: auto 0 0 auto;
  }

  > * {
    z-index: 2;
  }

  > section {
    &:not(:global(.show-mobile)) {
      display: none;
    }
  }
}

.projectCover {
  height: 18.875rem;
  max-height: 18.875rem;
  width: 100dvw;
  max-width: 100dvw;
  overflow: hidden;
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  > img {
    height: auto;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  > span {
    z-index: 2;
  }

  /* &::after {
    content: '';
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: 1;
    opacity: .1;
    background-color: var(--background-extradark);
    position: absolute;
  } */
}

.projectMainDetails {
  width: 100%;
  display: flex;
  max-width: 100%;
  /* overflow: hidden; */
  grid-area: main;
  max-height: fit-content;
  flex-direction: column;

  h1 {
    max-width: 100%;
    font-size: var(--font-h3);
    font-weight: var(--font-bold);
    color: var(--typography-extralight);
  }

  div {
    gap: .25rem .5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    margin: 0.125rem 0 1.75rem;
    color: var(--typography-extradark);

    p {
      min-width: fit-content;
      font-size: var(--font-h7);
      font-weight: var(--font-light);
      color: var(--typography-extradark);
    }

    span {
      height: .25rem;
      min-height: .25rem;
      width: .25rem;
      min-width: .25rem;
      border-radius: 100%;
      background-color: var(--typography-extradark);
    }
  }

  > p {
    display: none;
  }
}

.projectFullDescription {
  width: 100%;
  max-width: 100%;
  text-align: start;
  font-size: var(--font-h6);
  font-weight: var(--font-regular);
  color: var(--typography-main);
  white-space: pre-line;
}

.mobileTabsContainer {
  gap: 1.75rem;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  padding: 0 !important;
  flex-direction: column;

  > section {
    &[hidden] {
      display: none !important;
    }
  }
}

.tabsGroupList {
  width: 100%;
  display: flex;
  overflow: auto;
  max-width: 100%;
  position: relative;
  scrollbar-width: none;
  transition: all .3s ease-in-out;
  border-bottom: 1px solid color-mix(in srgb, var(--typography-extralight) 10%, transparent);

  div {
    gap: .5rem;
    display: flex;
    position: relative;
    width: fit-content;
    flex-direction: row;
    min-width: fit-content;

    &::after {
      position: absolute;
      content: '';
      min-width: 10.5rem;
      max-width: 10.5rem;;
      height: 2px;
      bottom: 0;
      left: 0;
      transform: translateX(0%);
      transition: all .3s ease-in-out;
      background-color: var(--primary-main);
    }

    /* &:global(.overview) {
      &::after {
        margin-inline: auto;
        inset: auto 0 0 0;
      }
    }

    &:global(.caseStudies) {
      &::after {
        inset: auto 0 0 auto;
      }
    } */

    &:global(.overview) {
      &::after {
        left: calc(50% - 5.25rem);
      }
    }

    &:global(.caseStudies) {
      &::after {
        left: calc(100% - 10.5rem);
      }
    }
  }

}

@media (max-width: 767px) {
  .projectContainer {
    > section,
    > header {
      padding: 0 1.5rem;
    }
  }

  .mobileTabsContainer {
    > * {
      padding: 0 1.5rem;
    }
  }
} 

@media (min-width: 768px) and (max-width: 1023px) {
  .projectContainer {
    padding: 4.5rem 0;

    > section,
    > header {
      padding: 0 3rem;
    }
  }

  .mobileTabsContainer {
    > * {
      padding: 0 3rem;
    }
  }
}

@media (min-width: 1024px) {
  .projectContainer {
    display: grid;
    gap: 2.375rem 3rem;
    padding: 4.5rem 7.84dvw;
    align-items: baseline;
    grid-template-columns: minmax(22.5rem, 23dvw) 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      'overview main'
      'overview content'
    ;

    > section {
      &:not(:global(.show-mobile)) {
        display: flex;
      }
    }
  }

  .projectMainDetails {
    h1 {
      font-size: var(--font-h2);
    }

    > p {
      display: block;
    }

    > a {
      display: none;
    }

    div {
      gap: .25rem .875rem;

      p {
        font-size: var(--font-h6);
      }
    }
  }

  .mobileTabsContainer {
    display: none;
  }
}