.projectContainer {
  width: 100dvw;
  display: flex;
  max-width: 100dvw;
  flex-direction: column;
  padding: 4.25rem 1.5rem;
}

.projectCover {
  height: 18.875rem;
  max-height: 18.875rem;
  width: 100dvw;
  max-width: 100dvw;
  overflow: hidden;
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  > img {
    height: auto;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  > span {
    z-index: 2;
  }

  &::after {
    content: '';
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: 1;
    opacity: .8;
    background-color: var(--background-extradark);
    position: absolute;
  }
}

.projectMainDetails {
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  grid-area: main;
  flex-direction: column;

  h1 {
    max-width: 100%;
    font-size: var(--font-h2);
    font-weight: var(--font-semibold);
    color: var(--typography-extralight);
  }

  div {
    gap: .875rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0.125rem 0 1.75rem;
    color: var(--typography-extradark);

    p {
      min-width: fit-content;
      font-size: var(--font-h6);
      font-weight: var(--font-light);
      color: var(--typography-extradark);
    }

    span {
      height: .25rem;
      min-height: .25rem;
      width: .25rem;
      min-width: .25rem;
      border-radius: 100%;
      background-color: var(--typography-extradark);
    }
  }
}

.projectFullDescription {
  width: 100%;
  max-width: 100%;
  font-size: var(--font-h6);
  font-weight: var(--font-regular);
  color: var(--typography-main);
}

.caseStudy {
  grid-area: content;
  background-color: red;
}

@media (min-width: 768px) {
  .projectContainer {
    padding: 4.5rem 3rem;
  }
}

@media (min-width: 1024px) {
  .projectContainer {
    display: grid;
    gap: 2.375rem 3rem;
    padding: 4.5rem 7.84dvw;
    align-items: baseline;
    grid-template-columns: minmax(22.5rem, 23dvw) 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
      'overview main'
      'overview content'
    ;
  }

  .projectMainDetails {
    h1 {
      font-weight: var(--font-bold);
    }
  }
}