.technologySectionContainer {
  gap: 2.25rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.technologySectionTitle {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  text-wrap: wrap;
  width: fit-content;
  z-index: 1;
  font-size: var(--font-h4);
  font-weight: var(--font-bold);
  color: var(--typography-extralight);

  &::after {
    content: '';
    height: .25rem;
    width: 8.375rem;
    z-index: -1;
    position: absolute;
    border-radius: .25rem;
    display: inline-block;
    inset: auto -1.2rem -.625rem auto;
    box-shadow: var(--shadow-primary-main);
    background: var(--gradient-primaryToSecondary-x-main);
  }
}

.technologiesList {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: .875rem;
  list-style: none;
  flex-wrap: wrap;
}

.technologyCard {
  display: grid;
  gap: 0 .875rem;
  min-width: max-content;
  position: relative;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 1.5rem;
  flex-direction: row;
  grid-template-rows: 1.688rem 1.313rem;
  grid-template-columns: 1.75rem fit-content;
  grid-template-areas:
    'icon title'
    'icon summary'
  ;
  background: var(--gradient-typographyToOpacity-d);

  img {
    grid-area: icon;
    width: 1.75rem;
    height: 1.75rem;
    min-width: 1.75rem;
    min-height: 1.75rem;
  }
  
  :global(.outlineBackground) {
    inset: 0 0 0 0;
    border-radius: 1.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    background: var(--gradient-opacityToTypography-d) border-box;
    mask:
      linear-gradient(#000 0 0) padding-box, 
      linear-gradient(#000 0 0);
    mask-composite: exclude;
  }
}

.summary {
  grid-area: summary;
  display: flex;
  gap: .375rem;
  min-width: max-content;
  align-items: center;

  :global(.summaryLabel) {
    min-width: fit-content;
    font-size: var(--font-h7);
    font-weight: var(--font-light);
    color: var(--typography-main);

    > :global(.sr-only) {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }
  }

  :global(.dot) {
    height: .375rem;
    width: .375rem;
    border-radius: .375rem;
    background: color-mix(in srgb, var(--typography-extralight) 30%, transparent);
  }
}

.technologyTitle {
  grid-area: title;
  font-size: var(--font-h5);
  color: var(--typography-main);
  font-weight: var(--font-semibold);
}