.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 11;
  height: 100dvh;
  width: 80dvw;
  position: fixed;
  gap: 1.125rem;
  inset: 0 -80dvw 0 auto;
  padding: 2rem;
  transition: all .3s ease;
  border-radius: 1.5rem 0 0 1.5rem;
  justify-content: space-between;
  background: var(--background-dark);

  &.show {
    inset: 0 0 0 auto;
  }
}

.backdropBlur {
  pointer-events: none;
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  inset: 0 0 0 0;
  z-index: 10;
  opacity: 0;
  transition: all .3s ease;
  backdrop-filter: blur(40px);
  background: color-mix(in srgb, var(--background-extradark) 40%, transparent);

  &.show {
    opacity: 1;
  }
}

.sidebarHeader {
  display: flex;
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;

  :global(#sidebar-title) {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    font-size: var(--font-h6);
  }
}

.sidebarNav {
  width: 100%;
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;

  > ul {
    gap: .875rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;

    > li {
      min-width: 100%;
    }
  }
}

.sidebarFooter {
  display: flex;
  align-items: center;
  flex-direction: column;

  :global(.sr-only) {
    visibility: hidden;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    display: none;
  }

  .show {
    display: none;
  }
}