.languageCardContainer {
  gap: .625rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;

  h5 {
    font-size: var(--font-h6);
    font-weight: var(--font-medium);
    max-width: fit-content;
    color: var(--typography-main);
  }

  p {
    font-size: var(--font-h6);
    font-weight: var(--font-light);
    color: var(--typography-dark);
    max-width: fit-content;

    span {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }
}

.progressBar {
  width: 100%;
  display: flex;
  height: .375rem;
  min-width: 100%;
  flex-basis: 100%;
  align-items: center;
  overflow: hidden;
  border-radius: .375rem;
  justify-content: flex-start;
  background: color-mix(in srgb, var(--typography-extralight) 30%, transparent);

  div {
    height: 100%;
    background: var(--gradient-primaryToSecondary-x-main);
  }
}