.mainContent {
  gap: 2.375rem;
  display: grid;
  width: 100%;
  max-width: 100%;
  place-items: center;
  justify-items: center;
  grid-template-areas:
    'profile'
    'subtitle'
    'introduction'
    'conclusion'
  ;
}

.subtitleText {
  grid-area: subtitle;
  gap: 0;
  display: flex;
  width: 100%;
  max-width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--font-h5);
  font-weight: var(--font-semibold);
  color: var(--typography-extralight);

  span {
    font-size: var(--font-h3);
    font-weight: var(--font-regular);
    color: color-mix(in srgb, var(--typography-extralight) 90%, transparent);

    em {
      font-style: normal;
      padding: 0 0 0 .5rem;
      font-weight: var(--font-semibold);
      color: var(--typography-extralight);
    }
  }
}

.introductionText {
  gap: 2.125rem;
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  grid-area: introduction;
}

.profileDescription {
  width: 100%;
  text-align: center;
  text-wrap: wrap;
  font-size: var(--font-h7);
  font-weight: var(--font-regular);
  color: var(--typography-main);

  strong {
    font-weight: var(--font-semibold);
    color: var(--typography-extralight);
  }

  &:global(.achievement-item) {
    text-align: left;
  }
}

.achievementsSection {
  width: 100%;
  display: flex;
  gap: 1.125rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  :global(.achievement-title) {
    display: flex;
    gap: .625rem;
    align-items: center;
    letter-spacing: .24em;
    position: relative;
    font-size: var(--font-h7);
    text-transform: uppercase;
    font-weight: var(--font-semibold);

    &::before {
      content: '';
      height: 0.25rem;
      width: 1.75rem;
      min-height: 0.25rem;
      min-width: 1.75rem;
      display: inline-block;
      pointer-events: none;
      border-radius: .25rem;
      box-shadow: var(--shadow-primary-main);
      background: var(--gradient-primaryToSecondary-x-main);
    }
  }
}

.achievements {
  gap: .75rem;
  width: 100%;
  display: flex;
  max-width: 100%;
  padding: 0 .875rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.achievementItem {
  gap: .625rem;
  width: 100%;
  display: flex;
  align-items: center;

  span {
    height: 1.25rem;
    min-height: 1.25rem;
    width: 1.25rem;
    min-width: 1.25rem;
    border-radius: 100%;
    background-color: var(--primary-light);
    display: grid;
    place-items: center;
  }
}

.sideInfo {
  grid-area: conclusion;
  gap: 3rem;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    gap: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      height: 1.5rem;
      min-height: 1.5rem;
      width: 1.5rem;
      min-width: 1.5rem;
      border-radius: 100%;
      background-color: var(--primary-main);
      display: grid;
      place-items: center;
    }
  }
}

.profileImage {
  padding: .625rem;
  width: 90%;
  grid-area: profile;
  border-radius: 40% 40% 25% 25%;
  display: grid;
  max-width: 29rem;
  place-items: center;
  aspect-ratio: 16 / 18;
  outline: 2px solid var(--primary-main);

  img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 40% 40% 25% 25%;
  }
}

@media (min-width: 768px) {
  .subtitleText {
    font-size: var(--font-h3);

    span {
      font-size: var(--font-h2);
    }
  }
}

@media (min-width: 1024px) {
  .mainContent {
    gap: 4.25rem 3rem;
    grid-template-columns: 1fr 26dvw 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas:
      'subtitle subtitle subtitle'
      'introduction profile conclusion'
    ;
  }
  .introductionText {
    align-items: flex-start;
  }

  .achievementsSection {
    padding: 0 0 0 .875rem;
    align-items: flex-start;
  }

  .achievements {
    align-items: flex-start;
    padding: 0 0 0 .875rem;
  }

  .profileDescription {
    text-align: left;
  }

  .profileImage {
    width: 100%;
    max-width: 41rem;
  }

  .sideInfo {
    align-items: flex-start;

    div {
      gap: 1.125rem;
      flex-direction: row;
      align-items: flex-start;
    }
  }
}