.overviewSectionContainer {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  max-width: 100%;
  max-width: 100%;
  position: relative;
  grid-area: overview;
  flex-direction: column;
}

.detailsGroup {
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.shortDescription {
  width: 100%;
  max-width: 100%;
  font-size: var(--font-h7);
  font-weight: var(--font-light);
  color: var(--typography-dark);
}

.overviewDetails {
  width: 100%;
  gap: .375rem;
  max-width: 100%;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  font-size: var(--font-h7);
  font-weight: var(--font-light);
  color: var(--typography-extradark);

  > span {
    gap: .375rem;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    align-items: flex-start;

    strong {
      gap: .5rem;
      display: flex;
      min-width: max-content;
      align-items: center;
      font-weight: var(--font-medium);
      color: var(--typography-main);
    }
  }
}

.technologiesList {
  gap: .875rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.mediaGroup {
  gap: .75rem;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);

  > li {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
    position: relative;
    border: .1rem solid color-mix(in srgb, var(--typography-extralight) 30%, transparent);

    img {
      height: auto;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      min-height: 100%;
    }

    :global(.last-media) {
      height: 100%;
      max-height: 100%;
      width: 100%;
      max-width: 100%;
      position: absolute;
      display: grid;
      place-items: center;
      font-size: var(--font-h7);
      font-weight: var(--font-medium);
      color: var(--typography-light);
      background: color-mix(in srgb, var(--background-extradark) 80%, transparent);
    }
  }
}

.linksGroup {
  gap: .375rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 1024px) {
  .overviewSectionContainer {
    padding: 1.5rem;
    border-radius: 1.5rem;
    background: var(--gradient-typographyToOpacity-d);

    :global(.outlineBackground) {
      inset: 0 0 0 0;
      border-radius: 1.5rem;
      position: absolute;
      pointer-events: none;
      width: 100%;
      height: 100%;
      flex-basis: 100%;
      border: 2px solid transparent;
      background: var(--gradient-opacityToTypography-d) border-box;
      mask:
        linear-gradient(#000 0 0) padding-box, 
        linear-gradient(#000 0 0);
      mask-composite: exclude;
    }
  }
}