.contactContainer {
  gap: 4.25rem;
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6.125rem 2.375rem;
  background-color: var(--background-extradark);
}

.footerHeading {
  grid-area: heading;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--font-h4);
  font-weight: var(--font-regular);
  color: var(--typography-main);

  strong {
    font-size: var(--font-h3);
    font-weight: var(--font-semibold);
    color: var(--typography-extralight);
  }
}

.callToAction {
  z-index: 2;
  display: flex;
  grid-area: cta;
  position: relative;
  justify-content: center;
  font-size: var(--font-h3);
  text-transform: uppercase;
  font-weight: var(--font-semibold);
  color: var(--typography-extralight);
  text-shadow: var(--text-shadow-primary-main);
  
  svg {
    top: 1.5rem;
    z-index: -1;
    position: absolute;
    filter:
      drop-shadow(0 0 1.75rem rgba(104, 5, 224, .4)) 
      drop-shadow(0 0 2rem rgba(104, 5, 224, .4))
    ;
  }
}

.contactsMethodsWrapper {
  gap: 1.75rem;
  display: flex;
  grid-area: addresses;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.contactItem {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;

  :global(.icon) {
    height: 2.625rem;
    width: 2.625rem;
    min-width: 2.625rem;
    min-height: 2.625rem;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    color: var(--typography-extralight);
    border-radius: 100%;
    border: 1px solid color-mix(in srgb, var(--typography-extralight) 10%, transparent);
  }

  :global(.info) {
    gap: 0;
    display: flex;
    flex-direction: column;

    :global(.label) {
      font-style: normal;
      font-size: var(--font-h6);
      font-weight: var(--font-light);
      text-transform: uppercase;
      color: var(--typography-extradark);
    }

    a {
      font-style: normal;
      font-size: var(--font-h4);
      font-weight: var(--font-medium);
      text-decoration: none;
      width: 100%;
      max-width: 100%;
      hyphens: auto;
      overflow-wrap: break-word;
      color: var(--typography-extralight);
    }
  }
}

@media (min-width: 768px) {
  .contactContainer {
    padding: 5.25rem 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contactsMethodsWrapper {
    display: flex;
    flex-direction: row;

    div {
      flex: 1 1 0;
    }
  }

  .contactItem {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .contactContainer {
    display: grid;
    gap: 3rem 4.25rem;
    padding: 7.5rem 7.84dvw;
    align-content: baseline;
    align-items: start;
    grid-template-columns: 19.625rem 1fr;
    grid-template-rows: max-content minmax(2.25rem, fit-content) auto;
    grid-template-areas:
      'heading heading'
      'addresses cta'
      'addresses form'
    ;
  }

  .footerHeading {
    margin: 0 0 3.125rem 0;
    font-size: var(--font-h3);
    font-weight: var(--font-regular);

    strong {
      font-size: var(--font-h2);
      font-weight: var(--font-semibold);
    }
  }
}