.contactContainer {
  gap: 4.25rem;
  display: flex;
  width: 100dvw;
  max-width: 100dvw;
  position: relative;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6.125rem 2.375rem;
  background-color: var(--background-extradark);

  > * {
    &:not(svg) {
      z-index: 3;
      max-width: 100%;
    }
  }

  :global(.bg-ellipse) {
    z-index: 1;
    filter: blur(180px);
    position: absolute;

    &:global(.bg-ellipse-bottom) {
      left: 50%;
      bottom: -4%;
      height: auto;
      width: 155dvw;
      max-width: 38.188rem;
      transform: translateX(-50%);
    }

    &:global(.bg-ellipse-left) {
      left: 50%;
      opacity: .4;
      height: auto;
      bottom: 28rem;
      width: 46.75rem;
      transform: translateX(-50%);
    }

    &:global(.bg-ellipse-right) {
      display: none;
    }
  }
}

.footerHeading {
  grid-area: heading;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--font-h4);
  font-weight: var(--font-regular);
  color: var(--typography-main);

  strong {
    font-size: var(--font-h3);
    font-weight: var(--font-semibold);
    color: var(--typography-extralight);
  }
}

.callToAction {
  z-index: 2;
  display: flex;
  grid-area: cta;
  position: relative;
  justify-content: center;
  font-size: var(--font-h3);
  text-transform: uppercase;
  font-weight: var(--font-semibold);
  color: var(--typography-extralight);
  text-shadow: var(--text-shadow-primary-main);
  
  :global(.underline-svg) {
    top: 1.5rem;
    z-index: -1;
    position: absolute;
    filter:
      drop-shadow(0 0 1.75rem rgba(104, 5, 224, .4)) 
      drop-shadow(0 0 2rem rgba(104, 5, 224, .4))
    ;
  }
}

.arrowIllustration {
  top: -2.375rem;
  position: absolute;
  display: none;
  right: calc(100% + 2.25rem);
}

.contactsMethodsWrapper {
  gap: 1.75rem;
  display: flex;
  grid-area: addresses;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.contactItem {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;

  :global(.icon) {
    height: 2.625rem;
    width: 2.625rem;
    min-width: 2.625rem;
    min-height: 2.625rem;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    color: var(--typography-extralight);
    border-radius: 100%;
    border: 1px solid color-mix(in srgb, var(--typography-extralight) 10%, transparent);
  }

  :global(.info) {
    gap: 0;
    display: flex;
    flex-direction: column;

    :global(.label) {
      font-style: normal;
      font-size: var(--font-h6);
      font-weight: var(--font-light);
      text-transform: uppercase;
      color: var(--typography-extradark);
    }

    a {
      font-style: normal;
      font-size: var(--font-h4);
      font-weight: var(--font-medium);
      text-decoration: none;
      width: 100%;
      max-width: 100%;
      hyphens: auto;
      overflow-wrap: break-word;
      color: var(--typography-extralight);
    }
  }
}

.copyrightsFooter {
  width: 100%;
  gap: 2.375rem;
  grid-area: footer;
  max-width: 100%;
  margin: 0 0 0;
  position: relative;
  padding: 4.25rem 0 0;
  display: flex;
  margin: 3.125rem 0 0;
  flex-direction: column;
  align-items: center;

  small {
    font-style: normal;
    font-size: var(--font-h7);
    font-weight: var(--font-regular);
  }

  &::after {
    content: '';
    height: .063rem;
    width: 100%;
    min-width: 100%;
    position: absolute;
    inset: 0 0 auto;
    background: linear-gradient(90deg, rgba(240, 236, 248, 0) 0%, rgba(240, 236, 248, 0.5) 50%, rgba(240, 236, 248, 0) 100%);
  }
}

@media (min-width: 768px) {
  .contactContainer {
    padding: 5.25rem 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .contactsMethodsWrapper {
    display: flex;
    flex-direction: row;

    div {
      flex: 1 1 0;
    }
  }

  .contactItem {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .contactContainer {
    display: grid;
    gap: 3rem 4.25rem;
    padding: 7.5rem 7.84dvw;
    align-content: baseline;
    align-items: start;
    grid-template-columns: 19.625rem 1fr;
    grid-template-rows: max-content minmax(2.25rem, fit-content) auto;
    grid-template-areas:
      'heading heading'
      'addresses cta'
      'addresses form'
      'footer footer'
    ;

    :global(.bg-ellipse) {
      &:global(.bg-ellipse-bottom) {
        bottom: -20%;
        width: 38.188rem;
        max-width: 38.188rem;
      }

      &:global(.bg-ellipse-left) {
        opacity: 1;
        height: 15.5rem;
        left: -11rem;
        bottom: 28rem;
        width: 46.25rem;
      }

      &:global(.bg-ellipse-right) {
        width: auto;
        right: -4rem;
        top: 17.375rem;
        display: block;
        height: 13.625rem;
      }
    }
  }

  .footerHeading {
    margin: 0 0 3.125rem 0;
    font-size: var(--font-h3);
    font-weight: var(--font-regular);

    strong {
      font-size: var(--font-h2);
      font-weight: var(--font-semibold);
    }
  }

  .callToAction {
    justify-self: center;
    max-width: fit-content;
  }

  .arrowIllustration {
    display: block;
  }

  .copyrightsFooter {
    flex-direction: row-reverse;
    margin: 4.25rem 0 0;
    justify-content: space-between;

    small {
      font-size: var(--font-h6);
    }
  }
}