.projectCardContainer {
  gap: 1.75rem;
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  padding: 1.5rem;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: var(--background-extralight);

  > * { z-index: 2; }

  button {
    flex-shrink: 0;
    min-width: fit-content;
  }
}

.coverBackground {
  width: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  inset: 0 0 0 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: '';
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    inset: 0 0 0 0;
    background: var(--gradient-backgroundContrast-y);
  }
}

.projectHeader {
  gap: .75rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: max-content;
  flex-shrink: 1;
}

.technologiesGroup {
  gap: .5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

.technologyBadge {
  border-radius: .5rem;
  padding: .25rem .75rem ;
  font-size: var(--font-h7);
  color: var(--typography-main);
  font-weight: var(--font-regular);
  backdrop-filter: blur(10px);
  background: color-mix(in srgb, var(--typography-extralight) 10%, transparent);
  border: 1px solid color-mix(in srgb, var(--typography-extralight) 10%, transparent);
}