.projectCardContainer {
  gap: 1.75rem;
  width: 100%;
  height: 100%;
  display: flex;
  min-width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  padding: 1.5rem;
  flex-wrap: wrap;
  cursor: pointer;
  
  border-radius: 1.5rem;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: var(--background-extralight);

  > * { z-index: 3; }

  a {
    flex-shrink: 0;
    min-width: fit-content;
  }

  &:hover {
    figure {
      transform: scale(1.2);
    }
  }

   &::before {
    content: '';
    width: 100%;
    z-index: 2;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    inset: 0 0 0 0;
    background: var(--gradient-backgroundContrast-y);
  }
}

.coverBackground {
  width: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  inset: 0 0 0 0;
  border-radius: 1.5rem;
  align-self: center;
  transition: all .3s ease;

  img {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transition: all .3s ease;
    position: absolute;
    justify-self: center;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

.projectHeader {
  gap: .75rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 1;
}

.technologiesGroup {
  gap: .5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
}

.technologyBadge {
  border-radius: .5rem;
  padding: .25rem .75rem ;
  font-size: var(--font-h7);
  color: var(--typography-main);
  font-weight: var(--font-regular);
  backdrop-filter: blur(10px);
  background: color-mix(in srgb, var(--typography-extralight) 10%, transparent);
  border: 1px solid color-mix(in srgb, var(--typography-extralight) 10%, transparent);
}