.projectsContainer {
  width: 100%;
  gap: 4.25rem;
  display: flex;
  max-width: 100%;
  min-height: 100dvh;
  position: relative;
  height: max-content;
  align-items: center;
  flex-direction: column;
  padding: 5.25rem 1.5rem;
  overflow: hidden;
  justify-content: center;
  background: var(--gradient-metalic-style);
}

.sectionHeader {
  width: 100%;
  gap: 4.25rem;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;

  p {
    width: 100%;
    text-align: center;
    max-width: 48.625rem;
    font-size: var(--font-h6);
    color: var(--typography-main);
    font-weight: var(--font-regular);
  }
}

.projectsGroup {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: fit-content;
  display: grid;
  gap: 1.125rem;
  grid-auto-rows: 20.5rem;
}

.projectItem {
  overflow: hidden;
  list-style: none;
  border-radius: 1.5rem;
  box-shadow: var(--shadow-background-extradark);
}

@media (min-width: 768px) {
  .projectsContainer {
    padding: 5.25rem 3rem;
  }

  .projectsGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .projectsContainer {
    padding: 11.5rem 7.84dvw;
  }

  .projectsGroup {
    gap: 1.75rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .projectItem {
    &:nth-child(12n + 1) { grid-column: 1 / span 2; }
    &:nth-child(12n + 2) { grid-column: 3; }

    &:nth-child(12n + 3) { 
      grid-column: 1; 
      grid-row: span 2; 
    }

    &:nth-child(12n + 4) { grid-column: 2 / span 2; }

    &:nth-child(12n + 5) { grid-column: 2; }
    &:nth-child(12n + 6) { grid-column: 3; }

    &:nth-child(12n + 7) { grid-column: 1; }
    &:nth-child(12n + 8) { grid-column: 2 / span 2; }

    &:nth-child(12n + 9) { grid-column: 1 / span 2; }

    &:nth-child(12n + 10) { 
      grid-column: 3; 
      grid-row: span 2; 
    }

    &:nth-child(12n + 11) { grid-column: 1; }
    &:nth-child(12n + 12) { grid-column: 2; }
  }
}