.carouselContainer {
  width: 100dvw;
  overflow-x: hidden;
  max-width: 100dvw;
  display: flex;
  padding: 1.125rem 0;
  flex-direction: row;
  background-color: var(--primary-main);

  &::-webkit-scrollbar {
    display: none;
  }
}

.carouselGroup {
  gap: 1.75rem;
  align-items: center;
  width: max-content;
  min-width: max-content;
  max-width: max-content;
  list-style: none;
  display: flex;
  padding: 0 1.75rem 0 0;
  animation: autoScroll 14s infinite linear;
  flex-direction: row;
}

.carouselItem {
  gap: 1.75rem;
  display: flex;
  align-items: center;
  min-width: max-content;
  max-height: max-content;
  font-size: var(--font-h5);
  font-weight: var(--font-semibold);
  color: var(--typography-extralight);
}

.separatorDot {
  width: .625rem;
  height: .625rem;
  min-width: .625rem;
  display: inline-block;
  min-height: .625rem;
  border-radius: 100%;
  background-color: var(--background-dark);
}

@keyframes autoScroll {
  from { translate: 0; }
  to { translate: -100%; }
}

@media screen and (min-width: 1024px) {
  .carouselItem {
    font-size: var(--font-h3);
  }
}