.header {
  z-index: 10;
  display: flex;
  position: fixed;
  height: 4.625rem;
  inset: 0 0 auto 0;
  padding: 0 1.75rem;
  align-items: center;
  transition: all .3s ease;
  justify-content: space-between;

  > :global(.outline-select),
  > :global(.navbar) {
    display: none; 
  }

  &.scrolled {
    /* box-shadow: var(--shadow-primary-main); */
    backdrop-filter: blur(20px);
    background: color-mix(in srgb, var(--typography-extralight) 10%, transparent);
    -webkit-box-shadow: var(--shadow-header); 
    box-shadow: var(--shadow-header); 
  }
}

.navbar {
  height: 100%;
  
  ul {
    gap: .25rem;
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: center;
    list-style: none;
    
    li {
      width: fit-content;
      height: 100%;
    }
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0 7.84dvw;
  }

  .header > :global(.outline-select),
  .header > :global(.navbar) {
    display: flex;
  }

  .header > :global(.icon-button) {
    display: none; 
  }
}

@media (min-width: 1024px) {
  .header {
    &.scrolled {
      height: 4.25rem;
      border-radius: 1.125rem;
      inset: 1.75rem auto auto;
      width: calc(100dvw - 3.5rem);
    }
  }
}