.embla {
  top: 0;
  z-index: 10;
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  align-items: center;
  position: relative;
  justify-content: center;
  --slide-height: 100dvh;
  --slide-spacing: 0;
  --slide-size: 100dvw;
}

.embla__viewport {
  overflow: hidden;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
}

.embla__container {
  display: flex;
  margin: auto;
  min-height: 100dvh;
  min-width: 100dvw;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  position: relative;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding-left: var(--slide-spacing);

  & > div {
    width: 75dvw;
    height: 80dvh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
}