.mediaDialogContainer {
  z-index: 11;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  backdrop-filter: blur(20px);
  background: color-mix(in srgb, var(--background-extradark) 20%, transparent);
}

.mediaPreviewHeader {
  width: 100%;
  display: flex;
  max-width: 100%;
  height: 4.625rem;
  padding: 0 1.75rem;
  align-items: center;
  justify-content: flex-end;
}

.mediaPreviewContent {
  display: grid;
  display: absolute;
  width: 100%;
  max-width: 100%;
  place-items: center;
  position: relative;

  > div {
    position: relative;
    width: 90dvw;
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mainImage {
  max-width: 100%;
  max-height: 100%;
  width: max-content;
  height: max-content;
  object-fit: contain;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .mediaPreviewHeader {
    padding: 0 3rem;
  }
}

@media (min-width: 1024px) {
  .mediaPreviewHeader {
    padding: 0 7.84dvw;
  }
}